#container {
    display:flex;
    max-width: fit-content;
    margin: auto;    
}

.cell {
    border: 1px solid black;
    height: 20px;
    width: 20px;
    
}

button {
    display: flex;
    margin: auto;
}

