
#container {
    display:flex;
    justify-content: center;
    margin: auto;
    height: 960px;
    width: 960px;
   
}
#buttons {
    display:flex;
    justify-content: center;

}

.row {
   display: flex;
   flex-direction: column;
   flex: 1;
}

.cell {
    border: 1px solid black;
    display: flex;
    flex: 1;
    
}

button {
    margin:30px;
}
